<!DOCTYPE html>
<html lang="en">
<head>
  <% include header.ejs %>
<script>
  var socket = io();

  socket.on('newJob', function(msg){
    console.log('newJob ' + JSON.stringify(msg));
  });

  socket.on('cacheHitSucceeded', function(msg){
    console.log('cacheHitSucceeded ' + JSON.stringify(msg));
  });

  socket.on('cacheHitFailed', function(msg){
    console.log('cacheHitFailed ' + JSON.stringify(msg));
  });

  socket.on('compileBefore', function(msg){
    console.log('compileBefore ' + JSON.stringify(msg));
  });

  socket.on('compileAfter', function(msg){
    console.log('compileAfter '+JSON.stringify(msg));
  });

  socket.on('schedulerArchives', function(msg){
    console.log('schedulerArchives');
    console.log(msg);
  });
  socket.on('daemonList', function(msg){
    console.log('daemonList');
    console.log(msg);
  });
</script>
<body>
  Hello World :) in Scheduler. <%= a%>

  <svg width="100%" height="100%">
    <circle cx="40" cy="60" r="30" style="fill:steelblue;"></circle>
    <circle cx="80" cy="60" r="30" style="fill:steelblue;"></circle>
    <circle cx="120" cy="60" r="30" style="fill:steelblue;"></circle>
  </svg>
  
</body>
</html>